footer{
    height: 100px;
    position: relative;
    & address{
        line-height: 3rem;
        font-style: normal;
        padding: 4rem 0;
        font-size: 20px;
        & a{
            font-size: 20px;
            text-decoration: none;
            color: hsl(231, 11%, 26%);
            margin-right: 1rem;
            & img{
                margin-top: 1rem;
            }
        }
    }
    .btt{
        position: absolute;
        bottom: -12rem;
        right: -1rem;
    }
}
